
#header {
    background-image: url("./img/2024-11-2-banner-v002.png");
    :rgb(5, 0, 0);
    height: 200px;
    width: auto;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
#navigation {
  background-color:#fbd489;
  font-size: 18px;
  height:30px;
  margin-top: 0px;
  width:auto;
  padding:0;	 
  text-align:center;     
}

#section {
  background-color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  width: 1200px
  margin: auto;
  text-align: center;
}

#body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#contact-details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#social-footer {
  background-color:#ffffff;
  color:rgb(5, 0, 0);
  height:auto;
  font-size: 12px;
  width:50%;
  padding:0px;
  align-items: center;
  margin-top:15px;
  margin-left: auto;
  margin-right: auto;
}
footer table {
  background-color:#fbd489;
  margin-left:auto;
  margin-right:auto;
  font-size: 12px;
  
})
#copyright {
  background-color: #ffffff;
  font-size: 10px;

  width: auto;
  margin: auto
}